/* @font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?o7syi');
    src: url('fonts/icomoon.eot?o7syi#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?o7syi') format('truetype'),
      url('fonts/icomoon.woff?o7syi') format('woff'),
      url('fonts/icomoon.svg?o7syi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  } */


/********************
*       Reset       *
*********************/

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}




/********************
*  General settings  *
*********************/

* {
  font-family: 'Montserrat', sans-serif;
}

figure {
  margin: 0em;
}


/***  MAIN PAGE  ***/


/********************
*       Header      *
*********************/


/********************
*      Body          *
*********************/


#mainPageWallpaper {
  position: relative;
  text-align: center;
  color: white;
}

#mainPageMovieInfo {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
}

#mainPageFooter {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0);
  display: flex;
}

#mainPageFooter a {
  text-decoration: none;
  color: white;
  background-color: rgb(58, 171, 236);
  padding: 2em;
  border-radius: 25px;
}

#mainPageFooter ul {
  list-style-type: none;
  display: flex;
}

#mainPageFooter li {
  margin: 2em;
}












/***  INFO  ***/

.infoPage{
  display: flex;
  flex-direction: column;
}

.infoPagecontainter {
  display: flex;
  flex-direction: row;
}