/* @font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?o7syi');
    src: url('fonts/icomoon.eot?o7syi#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?o7syi') format('truetype'),
      url('fonts/icomoon.woff?o7syi') format('woff'),
      url('fonts/icomoon.svg?o7syi#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  } */


/********************
*       Reset       *
*********************/

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}




/********************
*  General settings  *
*********************/

* {
  font-family: 'Montserrat', sans-serif;
}

figure {
  margin: 0em;
}


/***  MAIN PAGE  ***/


/********************
*       Header      *
*********************/

.navigation {
  background-color: rgba(121, 116, 116, 1);
  width: 100%;
}

.navigation ul {
  margin: 0;
  padding: 2em 0em 2em 0em;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 0.5em 1em 0.5em 1em;
}

.navigation a:first-child {
  background-color: rgba(0, 161, 239, 1);
}

.navigation input {
  background-color: rgba(187, 187, 187, 1);
  width: 35%;
}

/********************
*      Body          *
*********************/
#mainPage {
  position: relative;
  width: 100%;
}

#gradient {
  background-color: rgba(0, 0, 0, 0.226);
  position: absolute;
  width: 100%;
  height: 100%;
}

#mainPageWallpaper {
  position: relative;
  text-align: center;
  color: white;
}

#mainPageFigure {
  margin: 0;
  height: 100%;
}

#mainPageFigure img {
  width: 100%;
  height: auto;
}

#mainPageMovieInfo {
  position: absolute;
  top: 25%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 20%;
}

.more {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mainPageMovieInfo h2 {
  text-align: left;
  margin: 0;
  margin-bottom: 0.5em;
}

#mainPageMovieInfo p {
  width: 100%;
  text-align: left;
  margin: 0;
  margin-bottom: 0.5em;
}

#mainPageMovieInfo button {
  border-radius: 25px;
  color: rgba(0, 161, 239, 1);
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(0, 161, 239, 1);
  font-size: 2em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-right: 1em;
}

#mainPageMovieInfo a {
  text-align: left;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 10px;
}



/********************
*      Footer       *
*********************/

#mainPageFooter {
  position: absolute;
  top: 90%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

#footerContainter {
  width: 50%;
}

#mainPageFooterButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mainPageFooter a {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 161, 239, 1);
  padding: 1em 2em 1em 2em;
  border-radius: 25px;
  font-size: 1em;
  margin: 0em 3em 0em 3em;
}

#mainPageFooter ul {
  list-style-type: none;
  display: flex;
}

#mainPageFooter li {
  margin: 2em;
}




/***  INFO  ***/


/********************
*      Body          *
*********************/


.infoPage {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 2em;
}

#infoPageContainer {
  display: flex;
  flex-direction: row;
}

.infoPageDescription {
  background-color: rgb(71, 70, 70);
  padding: 2em;
}

.descriptionSection {
  width: 68%;
  text-align: left;
}

.infoPageTitle {
  display: flex;
  flex-direction: row;
  background-color: grey;
  margin-bottom: 1em;
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  /* justify-content: space-around; */
}

.infoPageMovieTitle {
  margin: 0;
  padding: 0;

}

.infoPageTitle h1 {
  font-size: 2rem;
}

.infoPageTitle p {
  margin-top: 0em;
}

.infoPageTitle h3 {
  margin-bottom: 0em;
}

.infoPageTitle div {
  margin: 0em 4em 0em 0.5em;
}


.infoPageStillCarousel {
  display: flex;
  flex-direction: row;
}

.infoPageStillCarousel figure img {
  width: 100%;
  height: 200px;
  height: auto;
}


.movieDetailsSection {
  display: flex;
  flex-direction: row;
}

.movieDetailsSection h2 {
  margin-bottom: 0;
}

.movieDetailsSection p {
  margin-top: 0em;
}

.infoPageSide {
  background-color: rgb(71, 70, 70);
  width: 30%;
  margin-left: 2em;
}

.infoPageSide button {
  color: white;
  background-color: rgba(0, 161, 239, 1);
  padding: 0.5em 2em 0.5em 2em;
  border-radius: 25px;
  font-size: 1em;
  margin: 2em 3em 0em 3em;
}

.movieDetailsSection {
  color: rgb(179, 176, 176);
}

.movieDetailsSection h2 {
  color: rgb(255, 255, 255);

}




* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}




/***   LOGIN     ***/


/********************
*      Body          *
*********************/

#mainLogin{
  background-color: rgb(41, 40, 40);
}

#signUp {
  width: 40%;
  margin: auto;
  margin-top: 10em;
  background-color: rgba(121, 116, 116, 1);
  border-radius: 25px;
}

/* #login{
  background-image: url("../assets/Login_background.jpg");
  background-repeat: round;
} */

#loginPage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding-top: 2em;
}

#loginPage button {
  padding: 1em 1em 0em 1em;
  color: white;
  font-size: 1.4rem;
}

.non-activeButton{
  border-style: solid;
  background-color: rgba(252, 252, 252, 0);
}

.activeButton{
  border-style: solid;
  background-color: rgba(252, 252, 252, 0);
}

#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}

#loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
  width: 65%;
}

#signUpButton {
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 1em 0em 1em 0em;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #ccc;
}


#loginForm input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/***   SHUFFLE    ***/


/********************
*      Body          *
*********************/
#shufflePage .switchButton {
  width: 100%;
  margin-top: 1em;
}

.switchButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.switchButton a {
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 0.5em 1em 0.5em 1em;
  background-color: rgba(0, 161, 239, 1);
}

#shufflePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 16, 16);
  padding-bottom: 5em;
}


#shuffle {
  display: flex;
  flex-direction: row;
  margin: 3em 1em 4em 1em;
  justify-content: center;
}

#shuffle figure img {
  width: 350px;
  height: auto;
  margin: 0em 2em 0em 2em;
}

#shuffleButton {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 161, 239, 1);
  border-color: rgba(0, 161, 239, 1);
  padding: 1em 2em 1em 2em;
  border-radius: 25px;
}

.moviePoster {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  align-items: center;
}

.addButton {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 161, 239, 1);
  border-color: rgba(0, 161, 239, 1);
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 25px;
  font-size: 1.5rem;
}

.movieInfoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1em;
  width: 100%;
  justify-content: space-evenly;
}


/**ADVANCED SEARCH**/


/********************
*      Body          *
*********************/

.searchContainer {
  box-sizing: border-box;
  background-color: rgba(50, 50, 50, 1);
  display: flex;
  flex-direction: row;
  padding: 2em;
}

#searchResults {
  width: 75%;
}

.searchOptions {
  width: 25%;
  display: flex;
  flex-direction: column;
}

#searchOptionsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 3em;
}


.dropButton {
  background-color: rgba(101, 101, 101, 1);
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

#inputfield {
  width: 100%;
}

#field {
  width: 100%;
  padding: 0.5em;
}

#buttonSection {
  width: 100%;
}

#searchButton {
  width: 100%;
  padding: 0.5em;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover .dropButton {
  background-color: rgb(71, 70, 70)
}

#searchGenres {
  border-color: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 2em;
}

#searchGenres h3{
  text-align: center;
}

.searchOptions form {
  padding: 1em;
}

#searchGenres div {
  background-color: rgba(101, 101, 101, 1);
}

#searchThemes {
  border-color: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 2em;
}

#searchYear {
  border-color: rgb(114, 114, 114);
  color: rgb(255, 255, 255);
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 80%;
  margin-bottom: 2em;
}

.searchFilters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchFilters button {
  margin: 1em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  padding: 0.7em 1.2em;
  border-style: none;
}

.filterdResults p {
  text-align: center;
  color: white;
}

.filterdResults {
  border-bottom: 1px solid rgba(0, 161, 239, 1);
}

#resultsContainer {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movieContainer {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20%
}

.movieContainer p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.movieContainer figure{
  margin-bottom: 0.5em;
}



.movieContainer img {
  height: 400px;
  width: auto;
}

/***   WATCHLIST   ***/


/********************
*      Body          *
*********************/

.lists {
  width: 100%;
  background-color: rgba(121, 116, 116, 1);
  padding: 2em;
}


#sectionWatchlist {
  background-color: rgba(138, 134, 134, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em;
  color: rgb(255, 255, 255);
}

#sectionWatchlist h2 {
  text-decoration: underline;
  text-decoration-color: rgba(0, 161, 239, 1);
}

#list1Posters {
  display: flex;
  flex-direction: row;
}

#list2Posters {
  display: flex;
  flex-direction: row;
}

#sectionWatchlist figure img {
  width: 100%;
  height: 200px;
  margin: 0.5em;
}

#sectionWatchlist figure {
  margin: 0.5em;
}

#addButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addButton button {
  width: 5%;
  border-radius: 25px;
  color: rgba(0, 161, 239, 1);
  background-color: rgba(255, 255, 255, 0);
  font-size: 2em;
  border-color: rgb(0, 0, 0);
}